@keyframes nav_apear {
  0% {
    opacity: 0;
    margin-top: 10rem;
  }
  100%{
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes number_of_headers_apear {
  0% {
    opacity: 0;
    margin-left: -3rem;
  }
  100%{
    opacity: 1;
    margin-left: 0rem;
  }
}